<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= gravatar_tag @user.email, size: 200 %>
      </div>

      <div class="col-md-4">
        <h2 id="header-text">
          <%= @user.username %> 
          <% if current_user && current_user == @user %>
           <span><small><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-sm btn-primary" %></small></span>
          <% end %>
        </h2>
        <p>Age: <%= @user.age %></p>
        <p>Gender: <%= @user.gender %></p>
      </div>

      <div class="col-md-4">
        <h3>Who am I</h3>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Friend Zone -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          Freinds (<%= @user.active_friends.size %>)
        </div>
        <div class="panel-body">
          <% @user.active_friends.last(16).each do |user| %>
            <%= link_to user_path(user.username) do %>
              <%= gravatar_tag user.email, size: 40 %>
            <% end %>
          <% end %>
        </div>

      </div>

    </div>

    <!-- Post Zone -->
    <div class="col-md-6">
      <% if current_user && current_user == @user %>  
        <%= render "posts/form" %>
      <% end %>
      <%= render @posts %>
    </div>

    <!-- Profile Activity -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Recent Activity</div>
        <div class="panel-body">
          <%= render_activities(@activities) %>
        </div>
      </div>
    </div>
  </div>
</div>